<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DILRMP MIS</title>
    <link th:href="@{/css/report/common.css}" rel="stylesheet"/>
    <span th:replace="~{fragments/head :: head}"></span>

<body class="hold-transition sidebar-mini">

<span th:replace="~{fragments/top-header :: top-header}"></span>
<div class="wrapper">
    <span sec:authorize="isAuthenticated()" th:replace="~{fragments/user-profile-bar :: user-profile-bar}"></span>
    <span sec:authorize="!isAuthenticated()" th:replace="~{fragments/header :: header}"></span>
    <span sec:authorize="isAuthenticated()" th:replace="~{fragments/sidebar :: sidebar}"></span>

    <section layout:fragment="content" id="content"><!--dynamic content-->
        <!--you can replace this using page-->
    </section>
</div>
<span th:replace="~{fragments/footer :: footer}"></span>


<!-- Bootstrap 4 -->
<link th:href="@{/css/jquery-ui.css}" rel="stylesheet" />

<script src="js/jquery.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/static/dilrmp/physical-monitoring/cryptoJs.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- bs-custom-file-input -->
<script th:src="@{/static/js/bs-custom-file-input.min.js}"></script>
<script type="text/javascript" th:src="@{/dilrmp/physical_progress/staticJs/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/dilrmp/physical_progress/staticJs/jquery-ui.js}"></script>

<!-- AdminLTE App -->
<!--<script th:src="@{/static/js/adminlteMin.js}"></script>-->
<!-- DataTables  & Plugins -->
<script th:src="@{/static/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/static/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/static/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/static/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/static/js/dataTables.buttons.js}"></script>
<script th:src="@{/static/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/static/js/jszip.min.js}"></script>
<script th:src="@{/static/js/pdfmake.min.js}"></script>
<script th:src="@{/static/js/vfs_fonts.js}"></script>
<script th:src="@{/static/js/buttons.html5.min.js}"></script>
<script th:src="@{/static/js/buttons.print.min.js}"></script>
<script th:src="@{/static/js/buttons.colVis.min.js}"></script>

<script th:src="@{/static/plugins/chart.js/Chart.min.js}"></script>
<script th:src="@{/static/js/adminlte.min.js}"></script>
<script th:src="@{/static/plugins/jquery-mousewheel/jquery.mousewheel.js}"></script>
<script th:src="@{/static/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{/static/plugins/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/static/plugins/jquery-mapael/maps/usa_states.min.js}"></script>

<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>
<!-- Page specific script select option -->

<script type="text/javascript" th:src="@{/static/js/choices.min.js}"></script>
<!-- <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> -->
<script type="text/javascript" th:src="@{/static/js/swiper-bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/dilrmp/district.js}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<script type="text/javascript" th:src="@{/static/js/chart.js}"></script>
<script type="text/javascript" th:src="@{/static/js/chartumd.js}"></script>
<script src='https://js.arcgis.com/3.25/'></script>
<script type="text/javascript" th:src="@{/static/nlrmpmap/statemap.js}"></script>

<script>
        $(document).ready(function () {
            if (!sessionStorage.getItem("SelectedItem")) {
                sessionStorage.setItem('SelectedItem', "En");
            }
            if (sessionStorage.getItem("SelectedItem") == "Hi") {
                $("#locale option[value='Hi']").attr('selected', true);
            }
            //window.location = $(':selected', this).attr('href');
        })
        $('#locale').change(function () {
            sessionStorage.setItem('SelectedItem', $(':selected', this).attr('value'));
            if (sessionStorage.getItem("SelectedItem") == "En") {
                $("#locale option[value='En']").attr('selected', true);
            } else {
                $("#locale option[value='Hi']").attr('selected', true);
            }
            window.location = $(':selected', this).attr('href');
        });
</script>
</body>

</html>