<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/dashboard">
<head>
    <meta charset="UTF-8">
    <title>Modernization of Registration Office (SRO)</title>
    <link th:href="@{/css/report/report.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content"
     style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h3 class="card-title"
                                        style="font-size: 24px; font-family: auto; text-shadow: 2px 2px 4px #090a0a; letter-spacing: 2px;">
                                        <span th:text="${labels['reportName']}">Modernization of Registration Office (SRO)</span>
                                    </h3>
                                </div>
                                <div class="col-sm-2">
                                    <a th:href="@{/physcial/report/pdf/sro-modernization}">
                                        <img th:src="@{/images/pdf.png}" alt="PDF" class="btn-img" width="40" height="40"/>
                                    </a>
                                    <a th:href="@{/physcial/report/excel/sro-modernization}">
                                        <img th:src="@{/images/excel.png}" alt="Excel" class="btn-img" width="40" height="40"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <a th:href="@{/reports/physical-progress-report}" class="btn btn-primary" style="font-size: 13px;">&larr; Back</a>
                            <div class="table-responsive text-nowrap mt-3">
                                <table id="example2" class="table table-bordered table-striped-columns table-success table-striped">
                                    <thead class="card-info wrap-text" style="background-color: #4a6c52; color:#ffff">
                                    <!-- Row 1: main titles -->
                                    <tr>
                                        <th rowspan="2" th:text="${labels['serialNumber']}">S.No.</th>
                                        <th rowspan="2" th:text="${labels['stateUT']}">State/ UT</th>
                                        <th rowspan="2" th:text="${labels['totalDistricts']}">Total Districts</th>
                                        <th rowspan="2" th:text="${labels['totalSros']}">Total SROs</th>
                                        <th rowspan="2" th:text="${labels['onlineRegistration']}">Number of SROs using online registration application</th>
                                        <th colspan="2" th:text="${labels['modernisedStateFunds']}">Total SROs Modernized from State/UT funds/PPP model on lines of Passport Seva Kendra</th>
                                        <th rowspan="2" th:text="${labels['sanctionedDilrmp']}">Total SROs sanctioned for Modernization under DILRMP</th>
                                        <th colspan="2" th:text="${labels['modernisedDilrmpFunds']}">Total SROs Modernized from DILRMP funds on lines of Passport Seva Kendra</th>
                                        <th colspan="2" th:text="${labels['modernisedTotal']}">Total SROs Modernized on lines of Passport Seva Kendra</th>
                                    </tr>
                                    <!-- Row 2: No. / % under merged groups -->
                                    <tr>
                                        <th th:text="${labels['nos']}">No.</th>
                                        <th th:text="${labels['percentage']}">%</th>
                                        <th th:text="${labels['nos']}">No.</th>
                                        <th th:text="${labels['percentage']}">%</th>
                                        <th th:text="${labels['nos']}">No.</th>
                                        <th th:text="${labels['percentage']}">%</th>
                                    </tr>
                                    <!-- Row 3: column numbers -->
                                    <tr style="font-weight: bold;">
                                        <td style="text-align: center;">1</td>
                                        <td style="text-align: center;">2</td>
                                        <td style="text-align: center;">3</td>
                                        <td style="text-align: center;">4</td>
                                        <td style="text-align: center;">5</td>
                                        <td style="text-align: center;">6a</td>
                                        <td style="text-align: center;">6b</td>
                                        <td style="text-align: center;">7</td>
                                        <td style="text-align: center;">8a</td>
                                        <td style="text-align: center;">8b</td>
                                        <td style="text-align: center;">9a</td>
                                        <td style="text-align: center;">9b</td>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr class="grand-total-row" th:each="data : ${grandTotal}">
                                        <td></td>
                                        <td style="font-weight: bold;" th:text="${data.stateName}">Grand Total</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingTotalDistricts}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingTotalSros}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosUsingOnlineRegistration}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosModernisedStateFunds}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.srosModernisedStateFundsPercent}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosDilrmpSanctioned}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosModernisedDilrmpFunds}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.srosModernisedDilrmpFundsPercent}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosModernisedTotal}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.srosModernisedTotalPercent}">0</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="data, iterator : ${sroModernizationList}">
                                        <td th:text="${iterator.count}">1</td>
                                        <td th:text="${data.stateName}">State</td>
                                        <td th:text="${data.formattingTotalDistricts}">0</td>
                                        <td th:text="${data.formattingTotalSros}">0</td>
                                        <td th:text="${data.formattingSrosUsingOnlineRegistration}">0</td>
                                        <td th:text="${data.formattingSrosModernisedStateFunds}">0</td>
                                        <td th:text="${data.srosModernisedStateFundsPercent}">0</td>
                                        <td th:text="${data.formattingSrosDilrmpSanctioned}">0</td>
                                        <td th:text="${data.formattingSrosModernisedDilrmpFunds}">0</td>
                                        <td th:text="${data.srosModernisedDilrmpFundsPercent}">0</td>
                                        <td th:text="${data.formattingSrosModernisedTotal}">0</td>
                                        <td th:text="${data.srosModernisedTotalPercent}">0</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr class="grand-total-row" th:each="data : ${grandTotal}">
                                        <td></td>
                                        <td style="font-weight: bold;" th:text="${data.stateName}">Grand Total</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingTotalDistricts}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingTotalSros}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosUsingOnlineRegistration}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosModernisedStateFunds}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.srosModernisedStateFundsPercent}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosDilrmpSanctioned}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosModernisedDilrmpFunds}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.srosModernisedDilrmpFundsPercent}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.formattingSrosModernisedTotal}">0</td>
                                        <td style="font-weight: bold;" th:text="${data.srosModernisedTotalPercent}">0</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
