
<!-- Content Wrapper. Contains page content -->
<div th:fragment="error-page">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="padding: 3%;">



                            <style>

        .error-container {
            text-align: center;
            padding: 30px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .error-container h1 {
            font-size: 5rem;
            color: #dc3545;
        }
        .error-container p {
            font-size: 1.25rem;
            color: #6c757d;
        }

    </style>

                       <div class="error-container  top-boxes px-4 px-lg-5 mt-4">
                                <h1>Oops!</h1>

                                <p>We apologize for the inconvenience. Please try again later or return to the home page.</p>
                               <!-- <p>We're working to fix the problem!</p>-->

                            </div>
                        <div class="row top-boxes px-4 px-lg-5 mt-4" >
                        </div>
                        <div class="row top-boxes px-4 px-lg-5 mt-4" >
                        </div>




                    </div>
                </div>
            </div>

    </section>
</div>




