
  <div id="about" class="About">
    <div class="aboutHeading">
      <h1>About Us</h1>
    </div>
    <div class="Minister">
      <div class="description">
        <h1>Dept. of Land Resources Ministry of Rural Development Govt. of India</h1>
        <p>To ensure sustainable improvement in productivity and livelihood / income potential of land, in particular rainfed cultivated areas and culturable wastelands.
          To develop an appropriate integrated land information management system, which will inter alia improve real-time information on land, optimize use of land resources and assist in policy / planning.<a th:href="@{/userProfile/about-us}"> More...</a></p>

      </div>
      <div class="MinisterImage">
        <img th:src="@{/static/images/minister_image.png}" alt="">
        <h1>Minister of Rural Development & Panchayati Raj</h1>
        <p>Shri Giriraj Singh</p>
      </div>
    </div>
  </div>

