
<div th:if = "${totalPages > 1}" th:fragment="pagination">
  <div class = "row col-sm-10">
    <div class = "col-sm-2">
      Total Rows: [[${totalItems}]]
    </div>
    <div class = "col-sm-1">
          <span th:each="i: ${#numbers.sequence(1, totalPages)}">
           <a th:if="${currentPage != i}" th:href="@{${urlPreFix}+'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
           <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
          </span>
    </div>
    <div class = "col-sm-1">
      <a th:if="${currentPage < totalPages}" th:href="@{${urlPreFix}+'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
      <span th:unless="${currentPage < totalPages}">Next</span>
    </div>

    <div class="col-sm-1">
      <a th:if="${currentPage < totalPages}" th:href="@{${urlPreFix}+'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
      <span th:unless="${currentPage < totalPages}">Last</span>
    </div>
  </div>
</div>

