
<div th:fragment="report_extlink_video">

  <section style="margin-bottom: 11px;">
    <div class="audioandvideo">
      <div class="video">
        <div class="videoHeading">
          <h1>Videos</h1>
        </div>
        <div class="groupVideo">
          <div>
            <a href="https://www.youtube.com/watch?v=LseVs41Vqug" target="_blank" rel="noopener noreferrer">
              Watch the video on YouTube
            </a>
          </div>
        </div>
      </div>
      <div class="photo">
        <div class="photoHeading">
          <h1>Photos</h1>
        </div>

        <div class="groupPhoto">
          <div>
            <img th:src="@{/static/images/agriculture.jpeg}" alt="">
            <img th:src="@{/static/images/agriculture-1.jpeg}" alt="">
          </div>
          <div>
            <img th:src="@{/static/images/cactus.jpeg}" alt="">
            <img th:src="@{/static/images/Rectangle 6.png}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
