<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/dashboard1">

<head>
    <meta charset="UTF-8">
    <title>DILRMP-MIS-4.0</title>
</head>

<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content" layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
<!--            <div class="container-fluid">-->
<!--                <div class="row mb-2">-->
<!--                    <div class="col-sm-11">-->
<!--                        <ol class="breadcrumb float-sm-right">-->
<!--                            <li class="breadcrumb-item"><a  href="#">Home</a></li>-->
<!--                            <li class="breadcrumb-item active">About Us</li>-->
<!--                        </ol>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!-- /.container-fluid -->
            <!-- Main content -->
            <section class="content">
                <div class="externalHeading">
                    <h1>About The Department</h1>   
                </div>
                <div class="container-fluid support">
                    <div class="container">
                        <div class="container-fluid">
                            <strong><h5>VISION</h5></strong>
                            <p>To ensure sustainable improvement in productivity and livelihood / income potential of land, in particular rainfed cultivated areas and culturable wastelands.
                                To develop an appropriate integrated land information management system, which will inter alia improve real-time information on land, optimize use of land resources and assist in policy / planning.
                            </p></br>
                            <strong><h5>MISSION</h5></strong>
                            <p>To ensure sustainable development of rainfed cultivable and degraded lands through a participatory approach by involving the stakeholders in decision making in the watershed development programmes. It makes a concerted effort to enhance the productivity of wastelands thereby enhancing livelihood opportunities in rural areas.
                                To put in place effective agrarian reforms, including an efficient land use policy, and a transparent Land Records Management System (LRMS) with the aim of to build an Integrated Land Information Management System (ILIMS). This system of integrated land information management will ultimately yield into security of tenancy to citizen, reduced land disputes, simplified procedure for transfer of properties title , fraudulent free landed properties transactions , etc.
                            </p></br>
                            <strong><h5>FUNCTIONS</h5></strong>
                            <strong>The following are the functions of the Department of Land Resources:</strong></br></br>
                            <p>1. Implementation of watershed programme for development of rainfed/ degraded areas.</p>
                            <p>2. Guide and facilitate States to modernize land record management & build up a land information system.</p>
                            <p>3. Facilitate States efforts to usher in conclusive titling system.</p>
                            <p>4. Administration of Land Acquisition Act, 1894 (1 of 1894) and right to fair Compensation and Transparency in Land Acquisition , Rehabilitation and Resettlement Act, 2013 and matters relating to acquisition of land for purposes of the Union and Registration Act , 1908</p>
                            <p>5. To facilitate adoption of policy for Rehabilitation & Resettlement of displaced people.</p>
                            <p>6. Land reforms, land tenure, land records, consolidation of holdings and other related matters.</p></br>

                            <strong><h5>OBJECTIVES</h5></strong>
                            <strong>The main objectives of the Department are:</strong></br></br>
                            <p>1. To increase productivity of rainfed/degraded land through the process of integrated watershed management.</p>
                            <p>2. To support the States/UTs for implementation of Digital Land Records Modernization Programme (DLRMP) with the aim to achieve a comprehensive land governance system known as Integrated Land Information Management System.</p>
                            <p>3. To administer land reforms and other related matters relating to land such as administration of the Right to Fair Compensation and Transparency in Land Acquisition , Rehabilitation and Resettlement Act, 2013(RFCTLARR), the National Rehabilitation and Resettlement Policy of 2007, the Registration Act, 1908, etc. and </p>
                            <p>4. To launch National Mission on Bio-Diesel demonstration phase with the propagation of bio-fuel plantations primarily on wastelands, based on the assessment of plantations already under taken in the country.</p>
                             <hr style="height:2px;border-width:0px;color:#d26d2e;background-color:#d26d2e"></br>
                            <div class="externalHeading">
                                <h1>DILRMP Program Details</h1> </br>
                                <p>
                                    Digital India Land Record Modernization Programme
                                    The Land Reforms (LR) Division was implementing two Centrally Sponsored Schemes viz.: Computerisation of Land Records (CLR) & Strengthening of Revenue Administration and Updating of Land Records (SRA&ULR). Later on 21.8.2008, the Cabinet approved merger of these schemes into a modified Scheme named Digital India Land Records Modernization Programme (DILRMP). The main aims of DILRMP are to usher in a system of updated land records , automated and automatic mutation , integration between textual and spatial records , inter-connectivity between revenue and registration, to replace the present deeds registration and presumptive title system with that of conclusive titling with title guarantee.
                                </p>  </br>
                                <p>
                                    The DILRMP has 3 major components - (a) Computerization of land record (b) Survey/re-survey (c) Computerization of Registration. The District has been taken as the unit of implementation, where all programme activities are to converge. It is hoped that all districts in the country would be covered by the end of the 12th Plan period except where cadastral surveys are being done for the first time.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
    </div>
    <!-- /.card -->
    </section>
    </div>
</body>

</html>