

<!-- Content Wrapper. Contains page content -->
<div th:fragment="change-password">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-info">
            <div class="card-header" style="background: linear-gradient(to right, #32b4c8 0%, rgb(64 101 142));">
              <div class="row">
                <div class="col-sm-10">
                  <h3 class="card-title" style="font-size: 24px; font-family: auto; text-shadow: 2px 2px 4px #090a0a;  letter-spacing: 2px;">Change Password</h3>
                </div>

              </div>
            </div>
            <div class="card-body">


              <style >

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover { text-decoration: none }



.search-box{margin:80px auto;position:absolute;}
.caption{margin-bottom:50px;}
.loginForm input[type=text], .loginForm input[type=password]{
	margin-bottom:10px;
}
.loginForm input[type=submit]{
	background:#fb044a;
	color:#fff;
	font-weight:700;

}


#pswd_info {
	background: #dfdfdf none repeat scroll 0 0;
	color: #fff;
	left: 20px;
	position: absolute;
	top: 0px;
}
#pswd_info h4{
    background: black none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
}
#pswd_info ul {
    list-style: outside none none;
    margin: 0;
    padding: 0 0 15px 0;
}
#pswd_info ul li {
   padding: 2px 45px;
}
.aro-pswd_info
{
	position:absolute;
	right:0;
}
.modal-body
{
	position:initial;
}

.valid {
	background: rgba(0, 0, 0, 0) no-repeat scroll 2px 6px;
	color: green;
	line-height: 21px;
	padding-left: 22px;
}

.invalid {
	background: rgba(0, 0, 0, 0) no-repeat scroll 2px 6px;
	color: red;
	line-height: 21px;
	padding-left: 22px;
}


#pswd_info::before {
    background: #dfdfdf none repeat scroll 0 0;
    content: "";
    height: 25px;
    top: 50%;
    left: -13px;
    margin-top: -12.5px;
    position: absolute;
    transform: rotate(45deg);
    width: 25px;
}
#pswd_info {
    display:none;
}
.passInstr {

}

/* Style for the no activity message */

.button-container>div a {
    margin-bottom: 10px;
    display: block;

    }
.button-container a, .button-container a:hover, .button-container a:focus, .button-container a:active, .button-container a:active:focus {
    outline: none;
}

element.style {
}
.button-container>div a {
    margin-bottom: 10px;
    display: block;
}
.button-container a, .button-container a:hover, .button-container a:focus, .button-container a:active, .button-container a:active:focus {
    outline: none;
}
.btn-blue {
    background: #48A5EA;
    color: #FFF;
    padding: 10px 30px !important;
}
.btn-rounded {
    border-radius: 30px;
}
.btn {
    font-weight: 700;
    font-size: 15px;
}

.btn-green {
    background: #0fa4bc;;
    color: #FFF;
    padding: 10px 30px !important;
}

</style>
        <h6 style="color:red"> * Mandatory Fields</h6>
                      <h6>Your new password must be different from previously used passwords.</h6>
                <hr>
                <form  th:action="@{/userProfile/changepass}" th:object="${changepassword}" autocomplete="off" method="post" class="passInstr" id="passwordChangeForm">
                      <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">Old Password <span style="color:red"> *</span></div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span> <i class="fa fa-eye" aria-hidden="true" onclick="myFunctionOld()"></i></span>
                                    </div>
                                </div>
                                <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" th:field="*{password}" autocomplete="off"  required>
                            </div>

                            <div class="input-group mb-3">New Password <span style="color:red"> *</span></div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span> <i class="fa fa-eye" aria-hidden="true" onclick="myFunctionNew()"></i></span>
                                    </div>
                                </div>
                                    <input type="password" class="form-control" id="newPassword" placeholder="New Password" th:field="*{newPassword}" autocomplete="off"  required>
                            </div>

                            <div class="input-group mb-3">Confirm Password <span style="color:red"> *</span></div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span> <i class="fa fa-eye" aria-hidden="true" onclick="myFunctionConfirm()"></i></span>
                                    </div>
                                </div>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" th:field="*{confirmPassword}" autocomplete="off"  required>
                            </div>

                            <hr>
                            <button type="submit"  style="box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);"  class="btn btn-green btn-rounded" onclick=" return Validate();">Submit</button>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group-append">
                                <div id="pswd_info">
                                    <h4>Password must meet the following requirements</h4>
                                    <ul>
                                        <li id="message" class="invalid"></li>
                                        <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                                        <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                                        <li id="number" class="invalid">At least <strong>one number</strong></li>
                                        <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                                        <li id="space" class="invalid">At least one special character <strong>[~,!,@,#,$,%,^,&,*,-,=,.,;,']</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <script>

        	function myFunctionNew() {
        		var x = document.getElementById("newPassword");
        	    if (x.type === "password") {
        	        x.type = "text";
        	    } else {
        	        x.type = "password";
        	    }
        	}

        	function myFunctionOld() {
        		//alert('fff');
        	    var x = document.getElementById("oldPassword");
        	    if (x.type === "password") {
        	        x.type = "text";
        	    } else {
        	        x.type = "password";
        	    }
        	}
        	function myFunctionConfirm() {
        	    var x = document.getElementById("confirmPassword");
        	    if (x.type === "password") {
        	        x.type = "text";
        	    } else {
        	        x.type = "password";
        	    }
        	}

			function checkPasswordStrength(password){
				 var upperRegex = "[A-Z]"; //Uppercase Alphabet.
				 var lowerRegex = "[a-z]"; //Lowercase Alphabet.
				 var digitRegex = "[0-9]"; //Digit.
				 var specialRegex = "[$@$!%*#?&]"; //Special Character.
				 var passwordVal = false;

				 if (!password.match(upperRegex)){
						 passwordVal = true;}
				 if (!password.match(lowerRegex)){
						 passwordVal = true;}

				 if (!password.match(digitRegex)){
						 passwordVal = true;}
				 if (!password.match(specialRegex)){
						 passwordVal = true;}

				 if(passwordVal == true){
					 alert("Please check the Password");
				 }

			}
			$(document).ready(function(){

				$('input[type=password]').keyup(function() {
					var pswd = $(this).val();
					var old_password = $("#oldPassword").val();
					//validate the length

					if(old_password !=pswd){
						$('#samepass').removeClass('valid').addClass('invalid');
					}else {
						$('#samepass').removeClass('invalid').addClass('valid');
					}

					if ( pswd.length < 8 ) {
						$('#length').removeClass('valid').addClass('invalid');
					} else {
						$('#length').removeClass('invalid').addClass('valid');
					}

					//validate letter
					if ( pswd.match(/[A-z]/) ) {
						$('#letter').removeClass('invalid').addClass('valid');
					} else {
						$('#letter').removeClass('valid').addClass('invalid');
					}

					//validate capital letter
					if ( pswd.match(/[A-Z]/) ) {
						$('#capital').removeClass('invalid').addClass('valid');
					} else {
						$('#capital').removeClass('valid').addClass('invalid');
					}

					//validate number
					if ( pswd.match(/\d/) ) {
						$('#number').removeClass('invalid').addClass('valid');
					} else {
						$('#number').removeClass('valid').addClass('invalid');
					}

					//validate space
					if ( pswd.match(/[^a-zA-Z0-9\-\/]/) ) {
						$('#space').removeClass('invalid').addClass('valid');
					} else {
						$('#space').removeClass('valid').addClass('invalid');
					}

				}).focus(function() {

					$('#pswd_info').show();
				}).blur(function() {
					$('#pswd_info').hide();
				});

			});



        </script>



                <script type="text/javascript">
	function Validate() {
		var oldPassword = $("#oldPassword").val();
		if (oldPassword !=='') {
			$("#message").text("");
			$('#oldPassword').css({
				"background-color" : "white"
			});
			bol = true;
		} else {
			$('#oldPassword').focus();
			$('#oldPassword').css({
				"background-color" : "yellow"
			});
			bol = false;
			return bol;
		}
		var newPassword = $("#newPassword").val();
		if (newPassword !== '') {
			$("#message").text("");
			$('#newPassword').css({
				"background-color" : "white"
			});
			bol = true;
		} else {
			$('#newPassword').focus();
			$('#newPassword').css({
				"background-color" : "yellow"
			});

			bol = false;
			return bol;
		}


		const regex =  /(?=(\d{2}))/g;



		if (regex.test(newPassword)) {
             $('#message').text("Password should not contain consecutive numbers.");
             $('#newPassword').focus();
             $('#newPassword').css({
             "background-color" : "yellow"
          });

             bol = false;
             return bol;
           } else {
           $('#newPassword').css({
           "background-color" : "white"
         });
         bol = true;
     }


		var passw= /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,15}$/;
		if(passw.test(newPassword)){
			$("#message").text("");
			$('#new_password').css({
				"background-color" : "white"
			});
			bol = true;
		}else{
			$('#newPassword').focus();
			$('#newPassword').css({
				"background-color" : "yellow"
			});

			bol = false;
			return bol;
		}
		var confirmPassword = $("#confirmPassword").val();
		if (confirmPassword !== '') {
			$("#message").text("");
			$('#confirmPassword').css({
				"background-color" : "white"
			});
			bol = true;
		} else {
			$('#confirmPassword').focus();
			$('#confirmPassword').css({
				"background-color" : "yellow"
			});

			bol = false;
			return bol;
		}
		 if(newPassword !=confirmPassword){
			$('#message').text("New Password and Confirm Password do not match.");
			$('#confirmPassword').focus();
			$('#confirmPassword').css({
				"background-color" : "yellow"
			});

			bol = false;
			return bol;
		} else {
			$('#confirmPassword').css({
				"background-color" : "white"
			});
			bol = true;
		}

		 if(oldPassword !=newPassword){
			  $('#newPassword').css({
					"background-color" : "white"
				});
				bol = true;
			} else {
				$('#message').text("Both New Password and Old Password are same.");
				$('#newPassword').focus();
				$('#newPassword').css({
					"background-color" : "yellow"
				});

				bol = false;
				return bol;
			}


	}


</script>
                <script>
$(document).ready(function() {
  $('#passwordChangeForm').submit(function(e) {
      e.preventDefault(); // Prevent the default form submission

      // Hash and set password fields
      hashAndSet('#oldPassword');
      hashAndSet('#newPassword');
      hashAndSet('#confirmPassword');

      var form = $(this);
      $.ajax({
          type: 'POST',
          url: form.attr('action'),
          data: form.serialize(),
          success: function (data, textStatus, jqXHR) {
          form[0].reset();
              // Show success message
              showSuccessAlert(data.message);
              // Redirect after a delay to allow the user to see the message
              setTimeout(function() {
                  window.location.replace(data.redirectUrl);
              }, 2000); // Adjust the delay time as needed
          },
          error: function (jqXHR, textStatus, errorThrown) {
                   form[0].reset();
              console.error("Error:", errorThrown);
              // Show error alert
              showErrorAlert('Error', jqXHR.responseText);
          }
      });
  });
});

function hashAndSet(valueSelector) {
  var value = $(valueSelector).val();
  var hashedValue = CryptoJS.SHA256(value);
  $(valueSelector).val(hashedValue);
}

function showSuccessAlert(data) {
  showAlert('Success', data, 'success');
}

function showErrorAlert(title, text) {
  showAlert(title, text, 'error');
}

function showAlert(title, text, icon) {
  Swal.fire({
    title: title,
    text: text,
    icon: icon,
    confirmButtonText: 'OK',
    customClass: {
      confirmButton: 'btn btn-danger'  // Optional: Customize the OK button style
    }
  });
}

                             </script>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



