<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/dashboard1">
<head>
  <meta charset="UTF-8">
  <title>Forget Password</title>
</head>
<body>
  <!-- Content Wrapper. Contains page content -->
  <div class="content container" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Forget User Password</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Forget Password</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->


      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" style="background: #e9710a;">
                    <h3 class="card-title">Forget Password</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form>
                        <div class="row">
                          <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                              <label>User ID/Email</label>
                              <input type="text" class="form-control" placeholder="Enter User Id or Email" autocomplete="off">
                            </div>
                          </div>
                          <div class="col-sm-1">
                            <div class="form-group">
                                <button type="button" class="send-otp btn btn-primary" autocomplete="off">Send Otp</button>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Sent Otp on Email</label>
                              <input type="text" id="send-otp" class="form-control" placeholder="Enter Otp" autocomplete="off">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                              <!-- text input -->
                              <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" placeholder="Enter New Password" autocomplete="off">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Enter Confirm Password" autocomplete="off">
                              </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                              <img th:src="@{/captcha-servlet}">
                              <label style="color: green;">Cpatcha</label>
                              <input type="Cpatcha" style="max-width: 165px;" class="form-control" placeholder="Enter cpatcha here">
                            </div>
                          </div>
                          <div class="col-sm-6">
                          </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div><!-- /.container-fluid -->
    </section>


      <!-- /.content -->
  </div>
  <!-- /.card -->
  </section>
  </div>
</body>
</html>