
<!-- Content Wrapper. Contains page content -->
<div th:fragment="reset-password">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-info">
            <div class="card-header" style="background: linear-gradient(to right, #32b4c8 0%, rgb(64 101 142));">
              <div class="row">
                <div class="col-sm-10">
                  <h3 class="card-title"  style=" color: #eff3f6; font-size: 24px; font-family: auto; text-shadow: 2px 2px 4px #090a0a;  letter-spacing: 2px;"> &nbsp; &nbsp; Reset Password</h3>
                </div>

              </div>
            </div>
            <div class="card-body">


              <!-- Corrected URL -->


              <span style="color:red"> * Mandatory Fields</span>
              <hr>
              <form th:action="@{/userProfile/reset-password}" method="post" onsubmit="return validateForm()" id="resetPassword">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="userName">User Name<span style="color:red"> *</span></label>
                      <input type="text" class="form-control"  oncopy="return false;" onpaste="return false;" oncut="return false;" placeholder="Enter User Name" id="userName" name="userName" required >
                      <span style="color:red" id="message_fName"></span>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">

                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-green btn-rounded" style="box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);">Submit</button>
                  </div>
                </div>
              </form>

              <script>
  $(document).ready(function() {
    // Attach submit event listener to the form
    $('#resetPassword').submit(function(e) {
        e.preventDefault(); // Prevent the default form submission
        var form = $(this);
        var formData = new FormData(form[0]);
        $.ajax({
            type: 'POST',
            url: form.attr('action'),
            data: formData,
            processData: false, // Prevent jQuery from automatically transforming the data into a query string
            contentType: false, // Tell jQuery not to set content type
            success: function(data) {
                // Show success message and refresh CAPTCHA
                  form[0].reset();
                showSuccessAlert(data);


            },
            error: function(jqXHR) {
                // Show error message
                 form[0].reset();
                showErrorAlert('Error', jqXHR.responseText);

            }
        });
    });




    // Function to display a SweetAlert success message
    function showSuccessAlert(data) {
        Swal.fire({
            title: 'Success',
            text: data,
            icon: 'success',
            confirmButtonText: 'OK'
        });
    }

    // Function to display a SweetAlert error message
    function showErrorAlert(title, text) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'error',
            confirmButtonText: 'OK'
        });
    }
});

</script>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




